apiKey=<FIREBASE API KEY>
authDomain=<FIREBASE AUTH DOMAIN>
databaseURL=<FIREBASE DATABASE URL>
projectId=<FIREBASE PROJECT ID>
storageBucket=<FIREBASE STORAGE BUCKET>
messagingSenderId=<FIREBASE MESSAGING SENDER ID>
networkId=5777
walletKey=0000000000000000000000000000000000000000000000000000000000000000
encryptionPassword=<PASSWORD>
privateKeyPath=<PRIVATE KEY PATH>
IPFS_GATEWAY=<IPFS GATEWAY URL>
IPFS_API=<IPFS API URL>
ETH_PROVIDER=<ETH PROVIDER URL>