apiKey=<FIREBASE API KEY>
authDomain=<FIREBASE AUTH DOMAIN>
databaseURL=<FIREBASE DATABASE URL>
projectId=<FIREBASE PROJECT ID>
storageBucket=<FIREBASE STORAGE BUCKET>
messagingSenderId=<FIREBASE MESSAGING SENDER ID>
networkId=5777
walletKey=0000000000000000000000000000000000000000000000000000000000000000
encryptionPassword=<PASSWORD>
IPFS_GATEWAY=<IPFS GATEWAY URL>
ETH_PROVIDER=<ETH PROVIDER URL>
dbPrivateKey=<FIREBASE DB PRIVATE KEY>
IPFS_API_URL=<IPFS API URL>
IPFS_API_PORT=<IPFS API PORT>
IPFS_API_PROTOCOL=<IPFS API PROTOCOL>
